*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.project
.pydevproject
.settings/
virt/*
.idea/workspace.xml
logs
nginx-error.log
static/*
media/*
db.sqlite3
